.cardsForm {
    border: 1px solid #E8EBF1;
    border-radius: 10px;
    padding: 16px;
    gap: 16px;
}

.cardsFormSkeleton {
    border: 1px solid #E8EBF1;
    border-radius: 10px;
    padding-block: 14px;
    gap: 16px;
}

.cardsData {
    padding: 1rem;
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border: 1px solid #E8EBF1;
    border-radius: 8px;
}